/* icons */
.general-icon-sm, 
.general-icon-extra-sm, 
.general-icon-md {
    display: inline-block;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general-icon-extra-sm {
    width: 12px;
    height: 12px;
    font-size: 12px;
}

.general-icon-sm {
    width: 16px;
    height: 16px;
    font-size: 16px;
}

.general-icon-md {
    width: 24px;
    height: 24px;
    font-size: 24px;
}

.general-icon-lg {
    width: 36px;
    height: 36px;
    font-size: 36px;
}

.general-icon-extra-lg {
    width: 48px;
    height: 48px;
    font-size: 48px;
}

/* spinners */

.loader {
    border-width: 5px;
    border-style: solid;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader-extra-sm {
    width: 12px;
    height: 12px;
    border-width: 3px;
}

.loader-sm {
    width: 16px;
    height: 16px;
    border-width: 3px;
}

.loader-md {
    width: 24px;
    height: 24px;
    border-width: 3px;
}

.loader-lg {
    width: 36px;
    height: 36px;
    border-width: 3px;
}

.loader-extra-lg {
    width: 48px;
    height: 48px;
    border-width: 3px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");